{% extends 'base.html.twig' %}

{% block title %}Admin panel!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <p>
        <a href="{{ path('homepage') }}" class="btn  btn-primary">Домой</a>
    </p>
    <p>
        <a href="{{ path('app_article_new') }}" class="btn  btn-primary">Создать статью</a>
    </p>
    <p>
        <a href="{{ path('app_article_index') }}" class="btn  btn-primary">Список статей для редактирования</a>
    </p>

</div>
{% endblock %}
