{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Редактирование статьи</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Обновить'}) }}

    <a class="btn btn-secondary" href="{{ path('app_article_index') }}">Вернуться назад</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
