{% extends 'base.html.twig' %}

{% block title %}Новая статья{% endblock %}

{% block body %}
    <h1>Создание новой статьи</h1>

    {{ include('article/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('admin.index') }}">Назад</a>
{% endblock %}
